body{
    margin-top: 3%;
    background-color: aqua;
    text-align: center;
}
h1{
    color: rgb(4, 4, 63);
}
.w{
    background-image: url("images/crash.png");
    height: 3%;
    width: 10%;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 0.2%;
    padding: 0.2%;
}
.a{
    background-image: url("images/kick.png");
    height: 3%;
    width: 10%;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 0.2%;
    padding: 0.2%;

}
.s{
    background-image: url("images/snare.png");
    height: 3%;
    width: 10%;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 0.2%;
    padding: 0.2%;
}
.d{
    background-image: url("images/tom1.png");
    height: 3%;
    width: 10%;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 0.2%;
    padding: 0.2%;
}
.j{
    background-image: url("images/tom2.png");
    height: 3%;
    width: 10%;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 0.2%;
    padding: 0.2%;
}
.k{
    background-image: url("images/tom3.png");
    height: 3%;
    width: 10%;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 0.2%;
    padding: 0.2%;
}
.l{
    background-image: url("images/tom4.png");
    height: 3%;
    width: 10%;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 0.2%;
    padding: 0.2%;
}